.numpad__wrapper {
  display: grid;
  row-gap: 12px;
  column-gap: 12px;
  grid-template-columns: repeat(3, 1fr);
}

.numpad__number-container {
  border-radius: 12px;
  width: 64px;
  height: 64px;
  font-size: 1.25rem;
}

.numpad__number-container:hover {
  cursor: pointer;
  background: #ccc;
}
