.display__wrapper {
  width: 100%;
  font-family: "Consolas";
  padding: 0;
}
.display__screen {
  display: flex;
  flex: 1;
  background-color: #9aa671;
  padding: 16px;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  height: 56px;
}

.display__screen-text {
  text-align: center;
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
}
